&soc {
	#address-cells = <1>;
	#size-cells = <1>;

	ipcc_compute_l0: qcom,ipcc_compute_l0@443000 {
		compatible = "qcom,ipcc";
		reg = <0x443000 0x1000>;
		interrupts = <GIC_SPI 230 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <3>;
		#mbox-cells = <2>;
	};
	ipclite {
		compatible = "qcom,ipclite";
		memory-region = <&global_sync_mem>;
		hwlocks = <&tcsr_mutex 11>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		ipclite_apss: apss {
			qcom,remote-pid = <0>;
			label = "apss";
			global_atomic = <1>;

			ipclite_signal_0 {
				index = <0>;
				mboxes = <&ipcc_compute_l0 8
					0>;
					interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <8
					0
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_1 {
				index = <1>;
				mboxes = <&ipcc_compute_l0 0xF000
					1>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <0xF000
					1
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_2 {
				index = <2>;
				mboxes = <&ipcc_compute_l0 8
					2>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <8
					2
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_3 {
				index = <3>;
				mboxes = <&ipcc_compute_l0 8
					3>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <8
					3
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_4 {
				index = <4>;
				mboxes = <&ipcc_compute_l0 8
					4>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <8
					4
					IRQ_TYPE_EDGE_RISING>;
			};
		};

		ipclite_cdsp: cdsp {
			qcom,remote-pid = <5>;
			label = "cdsp";
			global_atomic = <1>;

			ipclite_signal_0 {
				index = <0>;
				mboxes = <&ipcc_compute_l0 6
					0>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <6
					0
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_1 {
				index = <1>;
				mboxes = <&ipcc_compute_l0 6
					1>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <6
					1
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_2 {
				index = <2>;
				mboxes = <&ipcc_compute_l0 6
					2>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <6
					2
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_3 {
				index = <3>;
				mboxes = <&ipcc_compute_l0 6
					3>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <6
					3
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_4 {
				index = <4>;
				mboxes = <&ipcc_compute_l0 6
					4>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <6
					4
					IRQ_TYPE_EDGE_RISING>;
			};
		};

		ipclite_cvp: cvp {
			qcom,remote-pid = <6>;
			label = "cvp";
			global_atomic = <1>;

			ipclite_signal_0 {
				index = <0>;
				mboxes = <&ipcc_compute_l0 10
					0>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <10
					0
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_1 {
				index = <1>;
				mboxes = <&ipcc_compute_l0 10
					1>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <10
					1
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_2 {
				index = <2>;
				mboxes = <&ipcc_compute_l0 10
					2>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <10
					2
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_3 {
				index = <3>;
				mboxes = <&ipcc_compute_l0 10
					3>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <10
					3
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_4 {
				index = <4>;
				mboxes = <&ipcc_compute_l0 10
					4>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <10
					4
					IRQ_TYPE_EDGE_RISING>;
			};
		};

		ipclite_vpu: vpu {
			qcom,remote-pid = <8>;
			label = "vpu";
			global_atomic = <1>;

			ipclite_signal_0 {
				index = <0>;
				mboxes = <&ipcc_compute_l0 12
					0>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <12
					0
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_1 {
				index = <1>;
				mboxes = <&ipcc_compute_l0 12
					1>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <12
					1
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_2 {
				index = <2>;
				mboxes = <&ipcc_compute_l0 12
					2>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <12
					2
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_3 {
				index = <3>;
				mboxes = <&ipcc_compute_l0 12
					3>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <12
					3
					IRQ_TYPE_EDGE_RISING>;
			};

			ipclite_signal_4 {
				index = <4>;
				mboxes = <&ipcc_compute_l0 12
					4>;
				interrupt-parent = <&ipcc_compute_l0>;
				interrupts = <12
					4
					IRQ_TYPE_EDGE_RISING>;
			};
		};
	};

};